{% extends "base.html" %}

{% block title %}Aibril Management Framework - Forbidden{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Forbidden</h1>
</div>
{% endblock %}
