{% extends "base.html" %}

{% block title %}Aibril Management Framework - Page Not Found{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Not Found</h1>
</div>
{% endblock %}
