{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
    <script type="text/javascript" charset="utf-8">
   	$(document).ready(function(){
   		
        	    $("#hide").click(function(){
        	    	document.getElementById("send").style.display="none";
                	var elements = document.getElementsByClassName("add");
                	for (var i = 0; i < elements.length; i++) {
                        elements[i].readOnly = true;
                    }
        	    });
        	    
        	    $("#show").click(function(){
        	    	document.getElementById("send").style.display="block";
                	var elements = document.getElementsByClassName("add");
                	for (var i = 0; i < elements.length; i++) {
                        elements[i].readOnly = false;
                    }
        	    });
        	    
        	    $("#send").click(function(){if (confirm('Are you sure ?')) {
        	    	var n = $("#work_name").val();
        	    	var i = $("#main_id").val();
        	    	console.log(n, i);
        	    	$.ajax({
        	    		  type: "POST",
        	    		  contentType: "application/json; charset=utf-8",
        	    		  url: "/add",
        	    		  data: JSON.stringify({work_name: n, main_id: i}),
        	    		  dataType: "json",
        	    		  success: function(data) {
        	    			  window.location.href = data.url;
        	    		  }
        	    		});
        	    }else{window.location.href = '/index';}
        	    });
        	    
        	});
   	
   	function del(obj) { if (confirm('Are you sure ?')) {
   		console.log("here i am");
    	var n = $(obj).attr('id');
    	console.log(n);
    	$.ajax({
  		  type: "POST",
  		  contentType: "application/json; charset=utf-8",
  		  url: "/delete",
  		  data: JSON.stringify({work_id: n}),
  		  dataType: "json",
  		  success: function(data) {
			  window.location.href = data.url;
		  }
  		});
   	}else{window.location.href = '/index';}
   	}
   	
   	function up(obj) {
      	console.log("here i am");
      	console.log(obj);
      	var n = $(obj).attr('id');
       	var i = 'update_'+n;
       	var k = '#update_'+n;
       	console.log(n, i);
       	document.getElementById(i).style.display="block";
    	var elements = document.getElementsByClassName(n);
    	for (var a = 0; a < elements.length; a++) {
            elements[a].readOnly = false;
        }
    	
    	$(k).click(function(){if (confirm('Are you sure ?')) {
    		var x = elements[0].value;
    		var y = elements[1].value;
	    	console.log(x, y);
	    	$.ajax({
	    		  type: "POST",
	    		  contentType: "application/json; charset=utf-8",
	    		  url: "/update",
	    		  data: JSON.stringify({work_id: n, work_name: x, main_id: y}),
	    		  dataType: "json",
	    		  success: function(data) {
	    			  window.location.href = data.url;
	    		  }
	    		});
	    }else{window.location.href = '/index';}
    	});
   	}
   	
    </script>
{% endblock %}

{% block page_content %}

        <div id="page-wrapper">
            <div class="row">
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Workspace Manager</h2>
                        </div>

                        <!-- /.panel-heading -->
                        <div class="panel-body" id="log-body">
                            <table width="100%" class="tablesorter table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th width="5%">업무 ID</th>
                                        <th width="30%">업무 이름</th>
                                        <th width="45%">Main Workspace ID</th>
                                        <th width="10%">등록/수정</th>
                                        
                                    </tr>
                                  
                                </thead>
                                <tbody>
								{% for work in works %}
									<tr>
									<td align=center valign=middle ><h4>{{work.id}}</h4></td>
									<td valign=middle><h4><input type="text" id={{work.id}} class="{{work.id}}" value="{{work.work_name}}" readonly style="background-color:transparent;border:none;"></h4></td>
									<td valign=middle><h4><input type="text" id={{work.id}} class="{{work.id}}" value="{{work.main_work_id}}" readonly style="background-color:transparent;border:none;"></h4></td>
									<td>
									<div align="center" valign=middle>
									<a onclick="del(this);" id={{work.id}} class="btn btn-default btn-xs" style="display:block;">삭제</a>
									<a onclick="up(this);" id={{work.id}} class="btn btn-default btn-xs" style="display:block;">수정</a>
									<a id="update_{{work.id}}" class="btn btn-default btn-xs" style="display:none;">확인</a>
									</div>
									</td>
								{% endfor %}
								</tbody>
								<tbody>
									<td></td>
									<td><input type="text" id="work_name" class="add" readonly></td>
									<td><input type="text" id="main_id" class="add" readonly></td>
									<td>
									<div align="center">
									<a id="show" class="btn btn-default btn-xs" >등록</a>
									<a id="hide" class="btn btn-default btn-xs" >취소</a>
									<a id="send" class="btn btn-default btn-xs" style="display:none;">확인</a>
									</div>
									</td>
									</tr>
								
								
								</tbody>
                            </table>
                            
                            {% if pagination %}
								<div class="pagination">
							{{ macros.pagination_widget(pagination, '.index') }}
								</div>
							{% endif %}
                            <!-- /.table-responsive -->
							<!-- <button type="button" class="btn btn-primary" id="btnExport">Download to Excel</button> -->
			            </div>
                        <!-- /.panel-body -->
                        
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->
{% endblock %}
{% block javascript %}
    

{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}