{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
    <script type="text/javascript" charset="utf-8">
   	$(document).ready(function(){
   		
        	    $("#hide").click(function(){
        	    	document.getElementById("send_form").style.visibility="collapse";
        	    });
        	    
        	    
        	    $("#show").on('click', function(e){
        	    	e.preventDefault();
        	    	document.getElementById("send_form").style.visibility="visible";
                    }
        	    );
        	    
        	    $("#send").click(function(){if (confirm('Are you sure ?')) {
        	    	var n = $("#work_name").val();
        	    	var i = $("#main_id").val();
        	    	var u = $("#username").val();
        	    	var p = $("#password").val();
        	    	console.log(n, i, u, p);
        	    	$.ajax({
        	    		  type: "POST",
        	    		  contentType: "application/json; charset=utf-8",
        	    		  url: "/add",
        	    		  data: JSON.stringify({work_name: n, main_id: i, username: u, password: p}),
        	    		  dataType: "json",
        	    		  success: function(data) {
        	    			  window.location.href = data.url;
        	    		  }
        	    		});
        	    }else{window.location.href = '/index';}
        	    });
        	    
       	        $('input[type="checkbox"][name="group"]').click(function(){
       	            if ($(this).prop('checked')) {
       	                $('input[type="checkbox"][name="group"]').prop('checked', false);
       	                $(this).prop('checked', true);
       	            }
       	        });
        	    
	       	     $("#del").click(function () { 
	       	      if( $(":checkbox[name='group']:checked").length==0 ){
	       	       alert("삭제할 항목을 하나이상 체크해주세요.");
	       	       return;
	       	     }
	       	      else if (confirm('Are you sure ?')) {
	       	   		console.log("here i am");
	       	    	var n = $(":checkbox[name='group']:checked").attr('id');
	       	    	console.log(n);
	       	    	$.ajax({
	       	  		  type: "POST",
	       	  		  contentType: "application/json; charset=utf-8",
	       	  		  url: "/delete",
	       	  		  data: JSON.stringify({work_id: n}),
	       	  		  dataType: "json",
	       	  		  success: function(data) {
	       				  window.location.href = data.url;
	       			  }
	       	  		});
	       	   	}else{window.location.href = '/index';}
	       	   	});
	       	    
	       	  $("#up").click(function () {
	       	   		
		       	   	if( $(":checkbox[name='group']:checked").length==0 ){
			       	       alert("수정할 항목을 하나이상 체크해주세요.");
			       	       return;
			       	     }else{
				       	   		
				       	      	console.log("here i am");
				       	      	
				       	      	var n = $(":checkbox[name='group']:checked").attr('id');
				       	       	var i = 'up_'+n;
				       	       	var k = '#hide_rev_'+n;
				       	       	var p = '#rev_'+n;
				       	       	console.log(n, i, k, p);
				       	       	document.getElementById(i).style.visibility="visible"; //숨김아이콘 해제
				       	    	var elements = document.getElementsByClassName(n);
				       	    	for (var a = 0; a < elements.length; a++) {
				       	            elements[a].readOnly = false;
				       	        }
				       	    	
				       	    	$(k).click(function(){
				          	    	document.getElementById(i).style.visibility="hidden";
				          	    	window.location.href = '/index';
				          	    	});
				       	    	
				       	    	$(p).click(function(){if (confirm('Are you sure ?')) {
				       	    		var x = elements[0].value;
				       		    	$.ajax({
				       		    		  type: "POST",
				       		    		  contentType: "application/json; charset=utf-8",
				       		    		  url: "/update",
				       		    		  data: JSON.stringify({work_id: n, work_name: x}),
				       		    		  dataType: "json",
				       		    		  success: function(data) {
				       		    			  window.location.href = data.url;
				       		    		  }
				       		    		});
				       		    }else{window.location.href = '/index';}
				       	    	});
		       	   	
	       	  }});
	       	  
	       	$("#search").on('click', function(){
	       		if( $(":checkbox[name='group']:checked").length==0 ){
		       	       alert("수정할 항목을 하나이상 체크해주세요.");
		       	       return;
		       	     }else{
		       	      	var n = $(":checkbox[name='group']:checked").attr('id');
		       	     $('#s_form').append('<input type="hidden" name="token" value='+n+' />').submit();
		       	      	
                }
		       	     });
	       	
	       	$("#extract").on('click', function(){
	       		if( $(":checkbox[name='group']:checked").length==0 ){
		       	       alert("항목을 하나이상 체크해주세요.");
		       	       return;
		       	     }else{
		       	      	var n = $(":checkbox[name='group']:checked").attr('id');
		       	     $('#e_form').append('<input type="hidden" name="token" value='+n+' />').submit();
		       	      	
                }
		       	     });
	       	
	       	$(".ext_int").on('click', function(){
		       	      	var n = $(this).attr('id');
		       	     $('#i_form').append('<input type="hidden" name="token" value='+n+' />').submit();
	       		
                
		       	     });
	       	
	       	$(".ext_ent").on('click', function(){
       	      	var n = $(this).attr('id');
       	     $('#t_form').append('<input type="hidden" name="token" value='+n+' />').submit();
   		
        
       	     });
	       	
	       	     

        	});
   	
   	
   	function wsrev(obj) { if (confirm('Are you sure ?')) {
   		console.log("here i am");
    	var n = $(obj).attr('id');
    	var v = "#opt_"+n+" option:selected";
    	var k = $(v).val();
    	console.log(n, v, k);
    	$.ajax({
  		  type: "POST",
  		  contentType: "application/json; charset=utf-8",
  		  url: "/optUpdate",
  		  data: JSON.stringify({intent_id: n, option_id: k}),
  		  dataType: "json",
  		  success: function() {
		  }
  		});
   	}else{}
   	}

   	/* function ext_int(obj) { if (confirm('Are you sure ?')) {
   		console.log("here i am");
    	var n = $(obj).attr('id');
    	console.log(n);
    	$.ajax({
  		  type: "POST",
  		  contentType: "application/json; charset=utf-8",
  		  url: "/ext_intent",
  		  data: JSON.stringify({id: n}),
  		  
  		  success: function(data) {
  			  console.log(data);
		  }
  		});
   	}else{}
   	} */
   	
    </script>
{% endblock %}

{% block page_content %}

        <div id="page-wrapper">
            <div class="row">
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Workspace Manager</h2>
                            <div align=right>
                            <a id="search" class="btn btn-default btn-xs" >조회</a>
                            <a id="show" class="btn btn-default btn-xs" >등록</a>
                            <a id="del" class="btn btn-default btn-xs" >삭제</a>
                            <a id="up" class="btn btn-default btn-xs" >수정</a>
                            <a id="extract" class="btn btn-default btn-xs" >추출</a>
                            </div>
                        </div>

                        <!-- /.panel-heading -->
                        <div class="panel-body" id="log-body">
                            <table width="100%" class="tablesorter table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th width="5%">업무 ID</th>
                                        <th width="30%">업무 이름</th>
                                        <th width="45%">Main Workspace ID</th>
                                        <th width="10%">선택</th>
                                        
                                    </tr>
                                  
                                </thead>
                                <tbody>
								{% for work in works %}
									<tr>
									<td align=center valign=middle ><h4>{{work.id}}</h4></td>
									<td valign=middle><h4><input type="text" id={{work.id}} class="{{work.id}}" value="{{work.work_name}}" readonly style="background-color:transparent;border:none;"></h4></td>
									<td valign=middle><h4><input type="text" id={{work.id}} value="{{work.main_work_id}}" readonly style="background-color:transparent;border:none;"></h4></td>
									<td align=center valign=middle >
									<input type="checkbox" id={{work.id}} name="group">
									<div id="up_{{work.id}}" style="visibility:hidden;">
									<a id="rev_{{work.id}}" class="btn btn-default btn-xs" >수정</a>
									<a id="hide_rev_{{work.id}}" class="btn btn-default btn-xs" >취소</a>
									</div>
									</td>
									</tr>
								{% endfor %}
								</tbody>
								<tbody id="send_form" style="visibility:collapse;">
								<tr >
									<td></td>
									<td><input type="text" id="work_name" class="add"></td>
									<td><input type="text" id="main_id" class="add" placeholder="Main Workspace ID">
									    <input type="text" id="username" class="add" placeholder="username">
									    <input type="text" id="password" class="add" placeholder="password"></td>
									<td>
									<div align="center">
									<a id="send" class="btn btn-default btn-xs" >확인</a>
									<a id="hide" class="btn btn-default btn-xs" >취소</a>
									</div>
									</td>
									</tr>
								
								
								</tbody>
                            </table>
                            
                            {% if pagination %}
								<div class="pagination">
							{{ macros.pagination_widget(pagination, '.index') }}
								</div>
							{% endif %}
							
							{% if intents %}
								<div>
								<div class="row">
                					<div class="col-lg-12">
                    					<div class="panel panel-default">
                            <table width="100%" class="tablesorter table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        
                                        <th width="30%">Intent</th>
                                        <th width="60%">Workspace Name / ID</th>
                                        <th width="10%">선택</th>
                                    </tr>
                                  
                                </thead>
                                <tbody>
								{% for intent in intents %}
									<tr>
									<td align=center valign=middle ><h4>{{intent.intentName}}</h4></td>
									<td valign=middle>
										<select id = "opt_{{intent.id}}">
									{% for option in options %}
									{% if (option.id==intent.space_info) %}
										<option value = "{{option.id}}" selected="selected"> {{option.workspace_name}} / {{option.workspace_id}}</option>
									{% else %}
										<option value = "{{option.id}}"> {{option.workspace_name}} / {{option.workspace_id}}</option>
									{% endif %}
									{% endfor %}
										</select>
									</td>
									<td align=center valign=middle >
									<a onclick ="wsrev(this);" id="{{intent.id}}" class="btn btn-default btn-xs" >업데이트</a>
									</td>
									</tr>
								{% endfor %}
								</tbody>
								</table>								
										</div>
									</div>
								</div>
								</div>
							{% endif %}
							
							
							{% if ext_options %}
								<div>
								<div class="row">
                					<div class="col-lg-12">
                    					<div class="panel panel-default">
                            <table width="100%" class="tablesorter table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        
                                        <th width="30%">Number</th>
                                        <th width="60%">Workspace Name / ID</th>
                                        <th width="10%">선택</th>
                                    </tr>
                                  
                                </thead>
                                <tbody>
								{% for option in ext_options %}
									<tr>
									<td align=center valign=middle ><h4>{{option.id}}</h4></td>
									<td align=center valign=middle ><h4>{{option.workspace_name}} / {{option.workspace_id}}</h4></td>
									<td align=center valign=middle >
									<a id="{{option.id}}" class="ext_int" >Intent 추출</a>
									<a id="{{option.id}}" class="ext_ent" >Entity 추출</a>
									</td>
									</tr>
								{% endfor %}
								</tbody>
								</table>								
										</div>
									</div>
								</div>
								</div>
							{% endif %}
							
							
                            <!-- /.table-responsive -->
							<!-- <button type="button" class="btn btn-primary" id="btnExport">Download to Excel</button> -->
			            </div>
                        <!-- /.panel-body -->
                        
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->
        
        <form id="s_form" action="/search" method="post" ></form>
        <form id="e_form" action="/extract" method="post" ></form>
        <form id="i_form" action="/ext_intent" method="post" ></form>
        <form id="t_form" action="/ext_entity" method="post" ></form>
{% endblock %}
{% block javascript %}
    

{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}